{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center" style="margin-top: 100px; margin-bottom: 150px;">
    
    <h1 class="mt-5">Congratulations!</h1>
    
    <p>You have won your very own Tamagotchi - keep pressing those buttons to care for it daily!</p>
    
    <img src="{{ asset('images/tamagotchi.png' ) }}"
            width="200"
            height="200"
            alt="You won a tamagotchi"
    >
    
</div>
{% endblock %}
