{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            Wow! You really like counting! Me too!
        </div>
    </div>
</div>
{% endblock %}
