{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <h1>Create new Review</h1>

    {{ include('review_admin/_form.html.twig') }}

    <a href="{{ path('review_admin_index') }}">back to list</a>
</div>
{% endblock %}
