{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<div class="container mt-4">
    <a href="{{ path('product_admin_index') }}"><i class="fas fa-caret-left"></i> Back to list</a>
    <h1 class="mt-3">Edit Product</h1>

    {{ include('product_admin/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('product_admin/_delete_form.html.twig') }}
</div>
{% endblock %}
