@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

a, a:hover  {
    color: #000;
}

h1 {
    font-size: 1.7rem;
}

.header {
    background-color: #343a40;
    border-bottom: 2px solid #BA1414;
    padding: 0;
}

.header .logo {
    width: 50px;
    height: auto;
}

.page-top {
    margin-bottom: 30px;
}

.footer {
    background-color: #343a40;
    padding: 30px;

    border-top: 2px solid #BA1414;
    color: #fff;
    margin-top: 30px;
}

.footer span {
    color: #ff0000;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.footer a:hover {
    color: #efefee;
}

.component-light {
    border: 1px solid #efefee;
    box-shadow: 0 0 7px 4px #efefee;
    border-radius: 5px;
}

.component-light ul li a:hover {
    background: #add8e6;
}
.component-light ul li a.selected {
    background: #efefee;
}

.aside-collapsed {
    padding: 0 15px;
}

/**
 * Products
 */
.product-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-image h3 {
    font-size: 1.2rem;
}
.product-show img {
    max-width:100%;
    max-height:100%;
}
.cart-add-controls input {
    width: 60px;
}
